@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  touch-action: none;
}

.htmlScreen iframe {
  width: 1280px;
  height: 860px;
  border: none;
  border-radius: 20px;
  background: black;
}
